services:
  uni_automation:
    container_name: 'Uni_Automation'
    env_file:
      - ./env/variables.env
    build:
      context: ./
      dockerfile: .Dockerfile
    command: sh -c "python manage.py migrate && gunicorn Uni_Automation.wsgi -w 4 -b 0.0.0.0:8000"

    volumes:
      - .:/app
    ports:
      - "8000:8000"

    depends_on:
      - redis
      - celery
      - postgresql


  redis:
    image: redis:7.0.11-alpine


  celery:
    container_name: 'celery'
    command: celery -A Uni_Automation worker --loglevel=info
    build:
      context: ./
      dockerfile: .Dockerfile
    volumes:
      - .:/app
    env_file:
      ./env/variables.env
    depends_on:
      - redis

  postgresql:
    image: postgres:16
    container_name: postgresql_db
    restart: always
    env_file:
      - ./env/database_creds.env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
    pgdata:


