<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #message_container
        {
            position: fixed;top:20vh;width: 60vw;left:20vw;height: fit-content;font-size: calc(2.5vh);
            color: whitesmoke;word-wrap: break-word;border-radius: 1.5%;box-shadow: 5px 5px 5px deepskyblue;
            background-color: deepskyblue;text-align: center;
        }
        body{
            background-color: lightskyblue;
        }
    </style>
</head>
<body>
<div id="message_container">
    404
    <br>
    صفحه مورد نظر یافت نشد
</div>
</body>
</html>