<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            background-color: dodgerblue;
        }
        body>div{
            color: whitesmoke;background-color: rgba(155,155,155,40%);font-size: calc(2vh + 2vw);
            text-align: center;width:fit-content;word-wrap: break-word;margin-top: 1vh;margin-right: 0vw;
            height: fit-content;
        }
    </style>
</head>
<body>
<div style="background-color:rgba(170,155,155,40%)">
    سامانه اتوماسین اداری
</div>
<div>

     کاربر گرامی،برای ورود به حساب خود،رمز موقت  {{ code }} را وارد نمایید
     اعتبار این رمز 15 دقیقه می باشد
</div>
</body>
</html>